In [74]:
import pandas as pd
import numpy as np
import re
from nltk.stem.porter import PorterStemmer
from nltk.stem import SnowballStemmer
from nltk.corpus import stopwords
from string import punctuation
from wordcloud import WordCloud
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import nltk
import warnings
warnings.filterwarnings("ignore")

In [75]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')

In [76]:
train.head()

   tweet_id                                              tweet  sentiment
0      1701  #sxswnui #sxsw #apple defining language of tou...          1
1      1851  Learning ab Google doodles! All doodles should...          1
2      2689  one of the most in-your-face ex. of stealing t...          2
3      4525  This iPhone #SXSW app would b pretty awesome i...          0
4      3604  Line outside the Apple store in Austin waiting...          1

In [77]:
test.head()

   tweet_id                                              tweet
0      7506  Audience Q: What prototyping tools do you use?...
1      7992  At SXSW? Send Your Best Photos &amp; Videos to...
2       247  @mention  and here's a pic of you winning your...
3      7688  Google Marissa Mayer: mobile phone as a cursor...
4      3294    #SXSW Google maps is even cooler than I thought

In [78]:
def remove_pattern(input_txt, pattern):
#     print(input_txt)
#     print(pattern)
    r = re.findall(pattern, input_txt)
    for x in r:
        input_txt = re.sub(x, '', input_txt)
    return input_txt

def data_cleaning(table):
    #Put everything in lower case
    table['tweet'] = table['tweet'].str.lower()
    #Replace @<some_user>
    table['tweet'] = table['tweet'].apply(lambda row:remove_pattern(row, "@[\w]*"))
    #replace '#'
    table['tweet'] = table['tweet'].apply(lambda row:remove_pattern(row, "#[\w]*"))
    #Replace RT:rt
    table['tweet'] = table['tweet'].apply(lambda row:remove_pattern(row, "rt"))
    #Remove URL's
    table['tweet'] = table['tweet'].apply(lambda row:remove_pattern(row, "r'^https?:\/\/.*[\r\n]*'"))
    #Remove Numbers
    table['tweet'] = table['tweet'].apply(lambda row:remove_pattern(row, "r'[0-9]+'"))
    #Remove Special Characters & Punctuantions
    table['tweet'] = table['tweet'].apply(lambda row:remove_pattern(row, "r'[!$%&()*+,-./:;<=>?@[\]^_`{|}~]'"))
    table['tweet'] = table['tweet'].apply(lambda row:remove_pattern(row, "r'#([^\s]+)', r'\1'"))
    return table

In [79]:
import re
import nltk
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
from nltk.tokenize import sent_tokenize, word_tokenize, RegexpTokenizer
from nltk.corpus import (
    wordnet,
    stopwords
)

[nltk_data] Downloading package wordnet to C:\Users\Savio
[nltk_data]     Coelho\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\Savio
[nltk_data]     Coelho\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\Savio
[nltk_data]     Coelho\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Savio Coelho\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [80]:
#remove Null rows if any
def remove_na(table):
    table = table.dropna()
    return table

In [81]:
#Tokenize the data
def data_tokenize(table):
    tokenizer = RegexpTokenizer(r'\w+')
    table['tweet_tokenize'] = table['tweet'].apply(lambda row:tokenizer.tokenize(row))
    return table

In [92]:
#Removing Stop Words
def remove_stop_words(table):
    #We need to remove the stop words
    stop_words_list = stopwords.words('english')
    table['tweet_tokenize'] = table['tweet_tokenize'].astype(str)
    table['tweet_tokenize'] = table['tweet_tokenize'].str.lower()
    table['tweet_tokenize'] = table['tweet_tokenize'].apply(lambda x: [word for word in x if word not in stop_words_list else word])
    return table

SyntaxError: invalid syntax (<ipython-input-92-035875f483f3>, line 7)

In [83]:
train = remove_na(train)
train = data_cleaning(train)
train = data_tokenize(train)

In [90]:
train = remove_stop_words(train)

In [91]:
train.head()

,tweet_id,tweet,sentiment,tweet_tokenize
0,1701,defining language of touch with different d...,1,"[n, n]"
1,1851,learning ab google doodles! all doodles should...,1,"[n, n]"
2,2689,one of the most in-your-face ex. of stealing t...,2,"[n, n]"
3,4525,this iphone app would b pretty awesome if it ...,0,"[n, n]"
4,3604,line outside the apple store in austin waiting...,1,"[n, n]"